@model Exercise6.Models.DataModel

<h1>Thank you for your submission</h1>
<strong>Your first name is:</strong> @Model.firstName<br>
<strong>Your last name is:</strong> @Model.lastName<br>
<strong>Your email is:</strong> @Model.email<br>
<strong>How tall in the Eiffel Tower in Paris, France?:</strong> @Model.competitiveQuestion<br>
<strong>In 25 words or less, say why would like to win $10,000:</strong> @Model.tiebreakerQuestion<br>